<template>
  <div id="app">
  <link rel="stylesheet" href="static/google.css">
    <TempDisplay v-for="temp in tempList" :key="temp" v-bind:sensorid="temp" v-on:alarm="PlayAlarm" v-on:warn="PlayWarn"/>
    <RezeptBox v-on:edit="RezeptEdit=true"/>
    <Rezept v-if="RezeptEdit" v-on:update="RezeptEdit=false"/>
    <TimeDisplay v-for="time in timeList" :key="time" v-bind:sensorid="time" v-on:alarm="PlayAlarm" v-on:warn="PlayWarn"/>
  </div>
</template>

<script>
import TempDisplay from './components/TempDisplay.vue';
import TimeDisplay from './components/TimeDisplay.vue';
import RezeptBox from './components/RezeptBox.vue';
import Rezept from './components/Rezept.vue';
import axios from 'axios';
export default {
  name: 'App',
  components: {
    TimeDisplay,
    TempDisplay,
    RezeptBox,
    Rezept
  },
  props: {
    tempList: null,
    timeList: null,
  },
  data: function(){
    return {
      RezeptEdit:false,
      alarm: new Audio('static/alarm.mp3'),
      warn: new Audio('static/ring.mp3')
    }
  },
  methods:{
    PlayAlarm: function(){
      this.alarm.play();
    },
    PlayWarn: function(){
      this.warn.play();
    }
  },
  mounted () {
    axios
      .get('/api/v2/datastreams?type=external')
      .then(response =>(this.tempList=response.data))
    axios
      .get('/api/v2/datastreams?type=timer')
      .then(response =>(this.timeList=response.data))
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  margin: auto;
  max-width: 500px;
  text-align: center;
  padding-top: 30px;
}
html,
body {
    height: 100%;
}
body {
  background-color: #faae7c;
}
@media screen and (max-width: 750px) {
  #app {
    padding: 10px 10px 10px 10px;
  }
}
</style>
