<template>
  <div class='box' v-bind:class="{ box_normal:ok, box_disabled:disabled, box_warn:warn, box_alarm:error  }">
    <div class="box_head">
      <div class='box_name'>  {{ name }}  </div>
      <div class='box_icons'>
        <a v-if="edit" v-on:click="$emit('edit')"><md-icon>edit</md-icon></a>
        <a v-if="play" v-on:click="$emit('play')"><md-icon>play_circle_outline</md-icon></a>
        <a v-if="pause" v-on:click="$emit('pause')"><md-icon>pause_circle_outline</md-icon></a>
        <a v-if="reload" v-on:click="$emit('reload')"><md-icon>cached</md-icon></a>
        <a v-if="save" v-on:click="$emit('save')"><md-icon>done</md-icon></a>
        <a v-if="cancel" v-on:click="$emit('cancel')"><md-icon>cancel</md-icon></a>
      </div>
    </div>
    <div class='box_content'> <slot></slot> </div>
  </div>
</template>

<script>
  export default {
    name: 'Box',
    props: {
      name: String,
      edit:{type:Boolean, default:false},
      play:{type:Boolean, default:false},
      pause:{type:Boolean, default:false},
      cancel:{type:Boolean, default:false},
      reload:{type:Boolean, default:false},
      save:{type:Boolean, default:false},
      ok:{type:Boolean, default:false},
      warn:{type:Boolean, default:false},
      error:{type:Boolean, default:false},
      disabled:{type:Boolean, default:false},
    }
  }
</script>

<style>
  div.box{
    display:block;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
  }
  div.box> div.box_head
  {
    display: block;
    height: 40px;
  }
  div.box> div.box_head > div.box_name{
    display:inline;
    float: left;
  }
  div.box> div.box_head > div.box_icons{
    display:inline;
    float:right;
  }
  div.box_icons i {
    color: cornflowerblue;
    cursor: pointer;
    margin-left:6px;
  }
  div.box_normal{
    border-color:#82B366;
    background: #CCFF99;
  }
  div.box_alarm{
    border-color: #B85450;
    animation:alarm_anim 1.2s infinite;
  }
  @keyframes alarm_anim{
    0%{     background: #F8CECC; }
    49%{    background: #F8CECC; }
    60%{    background: #F8584D; }
    99%{    background: #F8584D; }
    100%{   background: #F8CECC; }
  }
  div.box_warn{
    border-color:#D79B00;
    background: #FFF2CC;
  }
  div.box_disabled{
    border-color: #B3B3B3;
    background-color: #f5f5f5;
    color: #B3B3B3;
  }
  div.box_disabled i{
    color: #B3B3B3;
  }
</style>
