<template>
  <Box name="Rezept" class="RezeptBox" edit="true" v-on:edit="$emit('edit')">
    <div>
      aktueller Schritt:
      <b>{{aktuell}}</b>
      <div>
        <md-button v-if="running" class="md-dense md-raised bt-red" v-on:click="stop">Stop</md-button>
        <md-button v-else class="md-dense md-raised bt-green" v-on:click="start">Start</md-button>
        <md-button class="md-dense md-raised bt-yellow" v-on:click="showSteps=(showSteps==false)">springen</md-button>
        <StepsList v-if="showSteps" v-on:close="showSteps=false"/>
      </div>
    </div>
  </Box>
</template>

<script>
  import Box from './Box.vue';
  import StepsList from './StepsList.vue';
  import axios from 'axios';
  export default {
    name: 'RezeptBox',
    components: {
      Box,
      StepsList
    },
    data: function(){
      return {
        running:false,
        showSteps:false,
        aktuell:"--"
      }
    },
    methods:{
      start:   function (){
      axios
        .get('/api/v2/rezept?do=start')
        .then(this.update)
      },
      stop:   function (){
      axios
        .get('/api/v2/rezept?do=stop')
        .then(this.update)
      },
      update: function(){
        axios
          .get('/api/v2/rezept/steps/current')
          .then(response =>( this.set_data(response)))
      },
      set_data: function(response){
        if("name" in response.data)
        {
          this.running=true;
          this.aktuell=response.data.name;
        }
        else
        {
          this.running=false;
          this.aktuell="--";
        }
      }
    },
    mounted: function (){
      this.update();
      setInterval(function () {
        this.update();
      }.bind(this), 10000);
    }
  }
</script>

<style>
.bt-red {
  background: #B85450;
}
.bt-green {
  background: #CCFF99;
}
.bt-yellow {
  background: yellow;
}
.RezeptBox .box_content b {
  display: block;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 2px;
}
</style>
