<template>
  <Box name="Rezept Bearbeiten" class="RezeptEdit" save=true cancel=true v-on:cancel="$emit('update')" v-on:save="update">
    <div><label>Einmaischen <div><input v-model.number="einmaischen" size="2" maxlength="2" required />°</div></label></div>
    <div>Maische Kochen
      <div v-for="(step,index) in maischen" :key="index">
        <label><div><input v-model.number="step.tp" size="2" maxlength="2" required />°</div></label>
        <label><div><input v-model.number="step.tt" size="3" maxlength="3" required />min</div></label>
        <a v-on:click="rm_mk" v-bind:value="index"><md-icon>cancel</md-icon></a>
      </div>
      <div><a v-on:click="add_mk"><md-icon>add</md-icon></a></div>
    </div>
    <div><label>Abmaischen <div><input v-model.number="abmaischen" size="2" maxlength="2" required />°</div></label></div>
    <div><label> Würze Kochen <div><input v-model.number="kochen" size="3" maxlength="3" required />min</div></label></div>
    <div>
      Hopfengabe
      <div v-for="(step,index) in hopfen" :key="index">
        <label><div><input v-model.number="step.text" placeholder="Hopfenart" size="15" required /></div></label>
        <label><div><input v-model.number="step.tt" placeholder="20" size="3" maxlength="3" required />min</div></label>
        <a v-on:click="rm_h" v-bind:value="index"><md-icon>cancel</md-icon></a>
      </div>
    </div>
    <div><a v-on:click="add_h"><md-icon>add</md-icon></a></div>
  </Box>
</template>

<script>
  import Box from './Box.vue';
  import axios from 'axios';
  export default {
    name: 'Rezept',
    components: {
      Box
    },
    data: function(){
      return{
        einmaischen:0,
        maischen:[
          {tp:68,tt:20}
        ],
        abmaischen: 0,
        kochen: 0,
        hopfen:[
          {text:"text",tt:20}
        ]
      }
    },
    methods: {
      rm_mk: function(event){
        this.maischen.splice(event.currentTarget.getAttribute("value"),1);
      },
      add_mk: function(){
        this.maischen.push({tp:0,tt:0});
      },
      rm_h: function(event){
        this.hopfen.splice(event.currentTarget.getAttribute("value"),1);
      },
      add_h: function(){
        this.hopfen.push({text:"",tt:0});
      },
      set_data: function(d){
        this.einmaischen=d.einmaischen;
        this.maischen=d.maischen;
        this.abmaischen=d.abmaischen;
        this.kochen=d.kochen;
        this.hopfen=d.hopfen;
      },
      get_data: function(d){
        d={}
        d.einmaischen=this.einmaischen;
        d.maischen=this.maischen;
        d.abmaischen=this.abmaischen;
        d.kochen=this.kochen;
        d.hopfen=this.hopfen;
        return d;
      },
      update: function(){
        axios
          .post('/api/v2/rezept',this.get_data())
          .then(this.$emit('update'))
       }
    },
    mounted: function (){
      axios
        .get('/api/v2/rezept')
        .then(response =>(this.set_data(response.data)))
    }
  }
</script>

<style>

div.RezeptEdit{
  text-align: left;
  background-color: lightcyan;
  position: absolute;
  z-index: 10;
  top: 0;
  font-weight:bold;
  max-width: 500px;
  width: 100%;
  height: 100%;
}

.RezeptEdit div.box_name{
  font-size:1.5em;
  padding-top:10px;
}

.RezeptEdit .box_content{
  padding-left: 20px;
}
.RezeptEdit label > div{
  display: inline-block;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: normal;
  margin-left: 20px;
}
.RezeptEdit label > div > input{
  border: none;
}
.box_content > div {
    padding-top: 10px;
}
.box_content > div {
    padding-top: 10px;
}

.box_content > div > div {
    padding-top: 5px;
}
.box_content > .md-icon{
  margin-left: 10px;
}
</style>
