<template>
<table class="StepsList">
  <tr v-for="step in steps" :key="step.id"><td v-on:click="selectStep" v-bind:value="step.id">{{step.name}}</td></tr>
</table>
</template>

<script>
  import axios from 'axios';
  export default {
    name: 'StepsList',
    data: function(){
      return {
        steps:[]
      }
    },
    methods:{
      selectStep: function(event){
        axios
          .get('/api/v2/rezept?goto='+event.currentTarget.getAttribute("value"))
          .then(this.$emit("close"))
      }
    },
    mounted: function (){
      axios
        .get('/api/v2/rezept/steps')
        .then(response =>(this.steps=response.data))
    }
  }
</script>

<style>
.StepsList{
  position: absolute;
  width: 200px;
  z-index: 9;
  background: yellow;
  border-radius: 5px;
  border: 2px solid black;
  border-spacing: 0;
  box-shadow: 2px 2px 7px gray;
}
.StepsList tr:first-child td:first-child
	{
		border-top-left-radius: 5px;
	}

	.StepsList tr:first-child td:last-child
	{
		border-top-right-radius: 5px;
	}

	.StepsList tr:last-child td:first-child
	{
		border-bottom-left-radius: 5px;
    border-bottom: none;
	}

	.StepsList tr:last-child td:last-child
	{
		border-bottom-right-radius: 5px;
    border-bottom: none;
	}
	.StepsList th, td
	{
		padding: 10px 10px 10px 10px;
    border-bottom: 2px solid black;
    cursor: pointer;
	}
  .StepsList td:hover {
    background-color: #ffdb00;
  }
</style>
