<template>
  <Box name="Temperature" class="TempDisplay" v-bind:ok="running" v-bind:error="error" v-bind:warn="wait">
  {{ value }}°<br/>
  <small>{{soll}}</small>
  </Box>
</template>

<script>
  import Box from './Box.vue';
  export default {
    name: 'TempDisplay',
    components: {
      Box
    },
    props: {
      sensorid: String
    },
    data: function(){
      return{
        soll:"",
        value:-1,
        running:false,
        error:false,
        wait:false
      }
    },
    mounted: function (){
      this.sockets.subscribe(this.sensorid, function(data){
        if("value" in data)
          this.value=data.value.toFixed(2);
        else
          this.value="-1";
        if("soll" in data && data.soll>0)
        {
          this.soll=data.soll.toFixed(2)+"°";
          this.running=true
        }
        else
        {
          this.soll="";
          this.running=false
        }
        if("status" in data)
          if(data.status=="ok")
          {
            this.error=false;
            this.wait=false;
          }
          else if(data.status=="wait")
          {
            this.error=false;
            this.wait=true;
          }
          else
          {
            if(this.error==false)
              this.$emit("alarm");
            this.error=true;
            this.wait=false;
          }
        else
        {
          if(this.error==false)
            this.$emit("alarm");
          this.error=true;
        }

      })
    }
  }
</script>

<style>
.TempDisplay div.box_content{
  font-size: 2em;
  font-weight: bold;
}
.TempDisplay small{
  font-size: 0.5em;
  font-weight: normal;
}
</style>
