<template>
  <Box name="Timer" play="true" pause="true" class="TimeDisplay" v-bind:error="error" v-bind:warn="wait" v-bind:ok="running" v-bind:disabled="disabled">
  <div  v-bind:class="{ blinking:wait }">{{ value }}</div>
  <small>Gesamtkochzeit</small>
  </Box>
</template>

<script>
  import Box from './Box.vue';
  export default {
    name: 'TimeDisplay',
    components: {
      Box
    },
    props: {
      sensorid: String
    },
    data: function(){
      return{
        value:"--:--",
        error:false,
        wait:false,
        running:false,
        disabled:true
      }
    },
    mounted: function (){
      this.sockets.subscribe(this.sensorid, function(data){
        if("value" in data)
        {
          this.disabled=false;
          if(data.value==0)
            this.value="00:00"
          else
          {
            var min=parseInt(data.value/60)
            var sec=parseInt(data.value%60)
            this.value=min
            this.value+=":"
            if(sec<10)
              this.value+="0"
            this.value+=sec
          }
        }
        else
        {
          this.value="--:--"
        }
        if("status" in data)
          if(data.status=="running")
          {
            this.running=true;
            this.error=false;
            this.wait=false;
          }
          else if(data.status=="off")
          {
            this.disabled=true;
            this.error=false;
            this.wait=false;
            this.running=false;
            this.value="--:--"
          }
          else if(data.status=="wait")
          {
            this.error=false;
            this.running=false;
            this.wait=true;
          }
          else if(data.status=="ended")
          {
            if(this.error==false)
              this.$emit("warn");
            this.running=false;
            this.error=true;
          }
          else
          {
            this.error=true;
            this.running=false;
            this.wait=false;
            if(this.error==false)
              this.$emit("error");
          }
        else
          this.error=true
      })
    }
  }
</script>

<style>
.TimeDisplay div.box_content{
  font-size: 2em;
  font-weight: bold;
}
.TimeDisplay small{
  font-size: 0.5em;
  font-weight: normal;
}
.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

</style>
